/* navbar */
body {
    margin-top: 30px;
    background-color: #edd263;
}

section {
    margin-top: 30px;
}

#nav-tital {
    width: 200px;
    float: left;
    display: block;
}



#nav-ul ul {
    list-style: none;
    float: left;
}

#nav-tital {
    width: 200px;
    float: left;
    color: #3d2b64;
}

#nav-tital h6 {
    font-size: 15px;
    font-weight: 700;
}



#nav-ul ul {
    list-style: none;
    float: left;
}

#nav-ul ul li {
    float: left;
    margin-left: 30px;
    font-weight: 600;
}

#nav-ul {
    float: right;
}

/* < !-- Recipes Img --> */
.block {
    width: 250px;
    height: 200px;
    background-color: white;
    float: left;
    margin-bottom: 120px;
    margin-left: 20px;
    display: block;
}


.block-img img {
    width: 100%;
}

.block-pra {
    padding: 5px;
    background: white;
    text-align: center;
    font-weight: 700;
}

/* input btn  */

button#btn-search {
    border: none;
    background-color: #3b2d64;
    color: white;
    margin-left: -100px;
    width: 100px;
    border-radius: 5px;
}