/* navbar */
body {
    margin-top: 50px;
}

#nav-tital {
    width: 200px;
    float: left;
    display: block;
}



#nav-ul ul {
    list-style: none;
    float: left;
}

#nav-tital {
    width: 200px;
    float: left;
    display: block;
}



#nav-ul ul {
    list-style: none;
    float: left;
}

#nav-ul ul li {
    float: left;
    margin-left: 30px;
    font-weight: 600;
}

#nav-ul {
    float: right;
}